// FONTAWESOME
@import '_fontawesome';

// FONTS


@font-face {
    font-family: 'gothambold';
    src: url('../fonts/gothambold-webfont.woff2') format('woff2'),
         url('../fonts/gothambold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: fallback;
}

@font-face {
    font-family: 'gothammedium';
    src: url('../fonts/gothammedium-webfont.woff2') format('woff2'),
         url('../fonts/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: fallback;
}

@font-face {
    font-family: 'gothamlight';
    src: url('../fonts/gothamlight-webfont.woff2') format('woff2'),
         url('../fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: fallback;
}

@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gothambook-webfont.woff2') format('woff2'),
         url('../fonts/gothambook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: fallback;
}

@font-face {
    font-family: 'gothambook_italic';
    src: url('../fonts/gothambookitalic-webfont.woff2') format('woff2'),
         url('../fonts/gothambookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: fallback;
}


// BASE FRAMEWORK
@import '../uikit/src/less/uikit.less';

// GLOBAL VARIABLES
@aqua: #91278E;
@yellow: #F6921E;
@red: #D63A3A;
@gray: #D9D9D9;
@silver: #C4C4C4;
@lightgray: #F1F4F9;
@darkgray: #979797;
@darkblue: #22254C;
@black: #4B4B4B;
@white: #FFF;
@purple: #3D1043;
@main-font: 'gothambook', Helvetica, Arial, sans-serif;
@regitalic-font: 'gothambook_italic', Helvetica, Arial, sans-serif;
@bold-font: 'gothambold', Helvetica, Arial, sans-serif;
@medium-font: 'gothammedium', Helvetica, Arial, sans-serif;
@light-font: 'gothamlight', Helvetica, Arial, sans-serif;


// FRAMEWORK OVERRIDES
/* variables and hooks */
@global-font-family: @main-font;
@global-line-height: 1.4;

@base-body-font-family: @main-font;
@base-body-color: @black;

@base-code-color: @white;

@container-max-width:		1138px;
@breakpoint-small:			768px;

.hook-base-link-hover() {
	background-color: transparent;
	.soft-transition;
}

/* Headings */
@base-heading-color: 		@black;
@base-h1-font-size-m:       65px;
@base-h1-font-size:         30px;
@base-h2-font-size-m:       50px;
@base-h2-font-size: 		30px;
@base-h2-line-height: 		1.2;

.hook-base-h1() {
	font-family: @bold-font;
}

/* Navbar */
@navbar-background:			@white;
@navbar-nav-item-color: 	@black;

.hook-navbar-nav-item() {
	.soft-transition;
	display: inline;
	padding: 2px 0;
	border-bottom: 2px solid transparent;

	&:hover, &:focus, &:active {
		color: @black;
		border-bottom: 2px solid @red;
	}
}

/* Buttons */
@button-font-size: 			20px;
@button-secondary-background: @yellow;
@button-secondary-color: @white;
@button-secondary-hover-background: darken(@yellow, 5%);
@button-secondary-hover-color: @white;
@button-secondary-active-background: darken(@yellow, 10%);
@button-secondary-active-color: @white;
.hook-button() {
	background: transparent;
	color: @red;
    min-width: 220px;
    border: 2px solid @red;
    padding: 14px 10px;
    line-height: 1.2;
    position: relative;
    z-index: 0;

    &:before {
	   .soft-transition;
	   position:absolute;
	   top: 0;
	   left: 50%;
	   right: 50%;
	   bottom: 0;
	   opacity: 0;
	   content: '';
	   background-color: @red;
	   z-index: -1;
    }

    &:hover, &:focus, &:active {
    	color: @white;
	    &:before {
	        .soft-transition;
	        left: 0;
	        right: 0;
	        opacity: 1;
	    }
     }

    &:focus {
     	text-decoration: underline;
    }

    &:disabled, &[disabled], &.disabled {
     	color: @lightgray;
     	border-color: @lightgray;
     	pointer-events: none;
     	text-decoration: none;

     	&:before {
     		display: none;
     	}
    }

	&.secondary {
		color: @yellow;
		border-color: @yellow;

		&:before {
			background-color: @yellow;
		}

		&:hover, &:focus, &:active {
			color: @white;
		}
	}

    @media (min-width: @breakpoint-small) {
    	min-width: 300px;
		font-size: 20px;
    }
}


/* Dotnav */
@dotnav-item-background:                        @silver;
@dotnav-item-hover-background:                  @aqua;
@dotnav-item-onclick-background:                @aqua;
@dotnav-item-active-background:                 @aqua;


// SITE-WIDE STYLES & MIXINS
.soft-transition() {
  transition: all 0.4s ease;
}

video {
  border: none;
  overflow: hidden;
}

.nostyle-list {
	padding: 0;
	list-style: none;
}


// GLOBAL PAGE SECTIONS
*  {
	box-sizing: border-box;
}

.section-wrap {
	overflow: hidden;
}

/* Site Menu */
.site-nav {
	background-color:transparent;

	> nav {
		z-index: 1;
	}

	.nav-logo {
		img {
			.soft-transition;
		}
	}

	.uk-navbar-nav {
		> li {
			padding: 0 15px;
			@media (min-width: @breakpoint-medium) {
				margin-left: 50px;
			}
		}
	}

	&.uk-active {
		.nav-logo {
			img {
				max-width: 200px;
			}
		}

		.uk-navbar-nav {
			> li {
				> a {
					min-height: 55px;
				}
			}
		}
	}
}

/* Hamburger Menu */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: 0; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: @black; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: @black;
    border-radius: 10px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

    .hamburger--elastic .hamburger-inner {
      top: 2px;
      transition-duration: 0.275s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .hamburger--elastic .hamburger-inner::before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease; }
      .hamburger--elastic .hamburger-inner::after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

    .hamburger--elastic.is-active .hamburger-inner {
      transform: translate3d(0, 10px, 0) rotate(135deg);
      transition-delay: 0.075s; }
      .hamburger--elastic.is-active .hamburger-inner::before {
        transition-delay: 0s;
        opacity: 0; }
      .hamburger--elastic.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-270deg);
        transition-delay: 0.075s; }

/* Navbar Mobile */
.navbar-mobile {
	position: absolute;
	width: 100%;
	list-style: none;
	padding: 0;
	background: @white;
	margin: 0;
	transform: translateY(-150%);
	.soft-transition;

	a {
		width: 100%;
	    display: block;
	    border: 1px solid @white;
	    background-color: @lightgray;
	    padding: 15px 20px;
	    color: @black;
	}

	&.is-active {
		transform: translateY(0);
	}
}

/* Hero Copy/Text */
.hero-copy {
	h1 {
		line-height: 0.965;
		color: @aqua;
	}

	.copy {
		font-size: 15px;
		line-height: 1.3;
		font-family: @light-font;

		@media (min-width: @breakpoint-small) {
		    margin-top: 40px;
		    margin-bottom: 30px;
		}

		@media (min-width: @breakpoint-medium) {
			font-size: 25px;
		}
	}
}


/* Sign Up Form */
.signup {
	padding-top: 70px;
	padding-bottom: 80px;

	@media (min-width: @breakpoint-small) {
		padding-top: 100px;
		padding-bottom: 140px;
	}

	.signup-illustration {
		position: relative;
		.planet {
			position: absolute;
			top: 0;
			z-index: -1;
			width: 82%;
			left: 42px;
		}
	}

	.signup-form {
		.copy {
			font-size: 18px;
			margin-top: 10px;
			span {
				display: block;
			}

			@media (min-width: @breakpoint-small) {
				font-size: 22px;
				margin-top: 60px;
				span {
					display: inline;
				}
			}
		}
	}

	.input-row {
		max-width: 430px;
		position: relative;
		margin: 0 auto 25px;

		@media (min-width: @breakpoint-small) {
			margin: 0 0 25px;
		}
		input {
			width: 100%;
			font-size: 13px;
			color: @aqua;
			margin: 0;
			line-height: 16px;
			outline: 0;
			padding: 25px 10px 8px 10px;
			font-family: @main-font;
			z-index: 1;
			position: relative;
			background: transparent;
			border: 0;

			&.active, &:focus {
				+ span {
					&:before {
						width: 100%;
					}
					&:after {
						transform: translate(-9px, -10px) scale(0.7);
					}
				}
			}
		}

		span {
			position: absolute;
		    color: @silver;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
			border: 1px solid @silver;

		    &:before {
		    	content: "";
		    	position: absolute;
		    	background-color: @aqua;
		    	height: 1px;
		    	width: 0;
		    	bottom: -1px;
		    	.soft-transition;
		    }

		    &:after {
		    	content: attr(data-placeholder);
				color: @silver;
				position: absolute;
				left: 10px;
				top: 10px;
				font-size: 18px;
				.soft-transition;
		    }
		}
	}
}


/* Site Footer */
.site-footer {
	background-color: @darkblue;
	color: @white;
	padding-top: 30px;
	padding-bottom: 34px;

	@media (min-width: @breakpoint-small) {
		padding-top: 60px;
		padding-bottom: 50px;
	}

	a {
		color: @white;
	}

	p {
		font-size: 14px;

		a {
			display: block;

			@media (min-width: @breakpoint-small) {
				display: inline;
			}
		}
	}

	.social-list {
		display: block;
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
		}

		a {
			.soft-transition;
			padding: 5px;
			&:hover {
				opacity: 0.6;
			}
		}

		span {
			font-size: 20px;
		}
	}
}
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
	clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}
