// BASE IMPORT
@import '_base';


// PAGE FRAMEWORK OVERRIDES


// PAGE SECTION STYLES
/* .hero-banner */
.hero-banner {
	> div {
		align-items: center;
	}

	.hero-illustration {
		position: relative;

		> div {
		    position: relative;

		    @media (min-width: @breakpoint-small) {
				width: 110%;
			    right: 10%;
		    }

		    @media (min-width: @breakpoint-medium) {
	    		width: 125%;
	    	    right: 25%;
		    }
		}
	}

	.hero-copy {
		padding-top: 40px;
		padding-bottom: 40px;

		.copy {
			@media (min-width: @breakpoint-small) {
				max-width: 400px;
			}
		}
	}
}


/* .clients-logo */
.clients-logo {
	ul {
		.nostyle-list;

		li {
			padding: 10px 20px;
			height: 150px;
			display: flex;
			align-items: center;
		}
	}
	img {
		max-width: 150px;
		opacity: 0.5;
		.soft-transition;
        margin: 0 auto;
		&:hover {
			opacity: 1;
		}
	}

	@media (min-width: @breakpoint-small) {
		margin-top: 20px;
		margin-bottom: 80px;
	}
}

/* .why-us */
.why-us {
	background-color: @lightgray;
	padding-top: 70px;
	padding-bottom: 80px;
	position: relative;

	.blue-planet {
		position: absolute;
	    top: -120px;
        left: 3%;
        width: 234px;

        @media (min-width: @breakpoint-large) {
		    top: -114px;
		    left: 5%;
		    width: 250px;
        }
	}

	.red-planet {
		position: absolute;
		bottom: -130px;
	    width: 250px;
	    right: 5%;

	    @media (min-width: @breakpoint-large) {
			bottom: -150px;
		    width: 300px;
		    right: 10%;
	    }
	}

	@media (min-width: @breakpoint-small) {
		padding-top: 90px;
		padding-bottom: 100px;
	}

	.switcher-icons {
		.nostyle-list;

		li {

			&.uk-active {
				figure {
					border-color: fade(@aqua, 50%);
				}

				.label {
					color: @aqua;
				}
			}

			a {
				display: block;
				width: 170px;
				margin: 0 10px;

				&:hover {
					text-decoration: none;
				}
			}
		}

		figure {
			background-color: @white;
			width: 170px;
		    height: 170px;
		    padding: 20px;
		    border: 3px solid @white;
		    .soft-transition;

		    &:hover {
		    	border-color: fade(@aqua, 50%);
			    + .label {
			    	color: @aqua;
			    }
		    }

		}

		.label {
			.soft-transition;
			font-family: @bold-font;
			color: @black;
			line-height: 1.2;
			padding: 0 5px;
		}
	}

	.switcher-text {
		max-width: 600px;
		margin: 40px auto 20px;
		position: relative;
		min-height: 70px;

		li {
			visibility: hidden;
			.soft-transition;
			opacity: 0;
			display: block !important;
			position: absolute;

			&.uk-active {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.why-slider {
		ul > li {
			padding: 0 20px;
		}
		.label {
			color: @aqua;
			font-size: 24px;
			font-family: @bold-font;
		}
		.uk-slidenav {
			color: @gray;
			padding: 0;
		}
	}
}

/* .what-we-do */
.what-we-do {
	position: relative;

	@media (min-width: @breakpoint-small) {
		padding-top: 100px;
		padding-bottom: 420px;
	}

	.top {
		padding: 50px 20px 343px;

		h2 {
			color: @white;
		}
	}


	.square-element {
		height: 500px;
	    position: absolute;
	    width: 500px;
	    bottom: 32%;
	    transform: translateY(-50%);
	    background-color: #dcc52f;
	    .soft-transition;
	}

	.circle-element {
		position: absolute;
		height: 370px;
		width: 370px;
		bottom: 22%;
		transform: translateY(-50%);
		left: 85px;
	}

	.image-slider {
		.mobile-frame {
			position: absolute;
			z-index: 1;
			max-width: none;
			top: -375px;
			left: 20px;
			right: 0;
			width: 307px;
			margin: 0 auto;
			@media (min-width: 326px) {
				left: 26px;
			}

			@media (min-width: @breakpoint-small) {
				width: 405px;
				top: auto;
				left: -20px;
			}

			@media (min-width: 800px) {
				right: 0;
				left: auto;
			}
		}

		.uk-slider {
			margin: -329px auto 10px;
			width: 235px;
			@media (min-width: @breakpoint-small) {
				width: 306px;
				margin-top: 0;
				margin-bottom: 0;
				margin-right: 48px;
				margin-left: auto;
			}

			.item-imgs {
				width: 280px;
				height: 436px;
				background-repeat: no-repeat;
				background-size: 309px 524px;
				background-position: -37px -45px;

				@media (min-width: @breakpoint-small) {
					width: 380px;
					height: 688px;
					background-size: 405px 688px;
					background-position: -52px;
				}
			}

			.uk-dotnav {
				position: absolute;
				bottom: 75px;
				right: -21%;
			}
		}

		.uk-slidenav {
			color: @white;
			top: -110px;
			z-index: 1;

			&.uk-slidenav-next {
				margin-right: -15px;
			}
		}
	}

	.copy-slider {
		min-height: 141px;
	    text-align: center;
	    margin-bottom: 60px;

	    @media (min-width: @breakpoint-small) {
	    	min-height: 0;
	    	text-align: left;
	    	margin-bottom: 0;
	    }
		h2 {
			margin-top: 100px;
		}

		.nostyle-list {
			position: relative;
			> li {
				position: absolute;
				top: 0;
				.soft-transition;
				visibility: hidden;
				opacity: 0;
				margin: 0 auto;
				left: 0;
				right: 0;

				&.active {
					opacity: 1;
					visibility: visible;
				}

				@media (min-width: @breakpoint-small) {
					margin: 0;
					left: auto;
					right: auto;
				}
			}

			.title {
				color: @aqua;
				font-family: @bold-font;
				font-size: 30px;
			}

			p:nth-child(2) {
				font-size: 18px;
			    max-width: 350px;
			    line-height: 1.5;
			    margin: 0 auto;

			    @media (min-width: @breakpoint-small) {
			    	margin: 0;
			    }
			}
		}
	}
}

.animate-light-bounce {
	animation: light-bounce 0.8s;
	animation-timing-function:linear;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	animation-iteration-count: 1;
}

@keyframes light-bounce {
  0% { transform: translateY(-50%) rotate(0deg); }
  33% { transform: translateY(-50%) rotate(120deg); }
  66% { transform: translateY(-50%) rotate(90deg); }
  100% { transform: translateY(-50%) rotate(105deg); }
}

/* Purple Gradient for Clients Say and Work Process */
.purple-gradient-block {
	background: #22234C;
	background: linear-gradient(180deg, #22244C 0%, #3B0D43 100%);
	position: relative;

	@media (min-width: @breakpoint-small) {
		padding-bottom: 500px;
	}

	.line-break-wrap {
		position: absolute;
		top: -260px;
		height: 280px;
		width: 100%;

		.line-break {
			width: 100%;
			height: 100%;
			object-fit: fill;
		}

		.circle-element {
			position: absolute;
			top: -45%;
			right: 65px;
			width: 300px;

			@media (min-width: @breakpoint-medium) {
				width: auto;
			}
		}
	}
}

/* .clients-say */
.clients-say {
	z-index: 1;
	position: relative;
	padding-top: 70px;
	padding-bottom: 80px;

	.testimonial-slider {
		margin: 0 30px;
		@media (min-width: @breakpoint-small) {
			margin: 0 50px;
			.uk-position-relative > ul {
			    li {
			    	padding: 10px;
			    }
			}
		}

		.testimonial {
			background-color: @white;
			padding: 40px 28px;
		    height: 100%;

		    @media (min-width: @breakpoint-small) {
		    	padding: 50px;
		    }
		}

		.stars {
			color: @yellow;
			font-size: 22px;
		}

		.name {
			color: @aqua;
		    font-family: @bold-font;
		    font-size: 24px;
		    margin: 40px 0 0;
		}

		.position {
			color: @gray;
		    margin: 0;
		    font-size: 12px;
		    min-height: 30px;
		}

		.text {
		    font-family: @regitalic-font;
		    color: @black;
		    margin-bottom: 40px;
		}
	}
}

/* .work-process */
.work-process {
	padding-top: 70px;
	padding-bottom: 80px;

	.steps {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 60px;


		@media (min-width: @breakpoint-small) {
			margin-bottom: 80px;

			&:nth-of-type(even) {
				.icon {
					order: 2;
				}
			}
		}

		.icon, .copy {
			text-align: center;
			width: 100%;

			@media (min-width: @breakpoint-small) {
				text-align: left;
				width: auto;
			}
		}

		.copy {
			.title {
				font-size: 24px;
			    color: @yellow;
			    font-family: @bold-font;
			    margin-bottom: 10px;
			    margin-top: 24px;

			    span {
			    	display: block;
			    }
			}

			p:nth-of-type(2) {
				font-size: 18px;
				line-height: 1.5;
				margin: 0;
			}

			@media (min-width: @breakpoint-small) {
				width: 65%;

				.title {
					margin-top: 0;
					font-size: 28px;
					span { display: inline; }
				}

				p:nth-of-type(2) {
					text-align: justify;
					font-size: 20px;
				}
			}
		}
	}
}

.animate-shake {
	animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* .pricing-home */
.pricing-home {
	padding-top: 70px;
	padding-bottom: 80px;
	z-index: 1;
	position: relative;
	background-color: @lightgray;

	h2 {
		margin-bottom: 40px;
	}

	@media (min-width: @breakpoint-small) {
		background-color: transparent;
		margin-top: -560px;
		padding-bottom: 100px;

		h2 {
			color: @white;
			margin-bottom: 100px;
		}
	}

	.pricing-container {
		@media (min-width: @breakpoint-small) {
			display: flex;
			background-color: @lightgray;
			position: relative;
			padding: 0 30px;
		}

		@media (min-width: @breakpoint-medium) {
			padding: 0 70px;
		}
	}

	.pricing-block {
		padding: 30px 30px 40px;
		position: relative;
		z-index: 1;
		background-color: @white;
		margin-bottom: 40px;
		border-bottom: 20px solid transparent;

		&.standard {
			border-bottom-color: @red;
			.price {
				color: @red;
			}
		}

		&.premium {
			border-bottom-color: @yellow;
			.price {
				color: @yellow;
			}
		}

		.title {
			font-size: 20px;
			line-height: 1.6;
		}

		.price {
			font-size: 32px;
		}

		.description {
			font-size: 15px;
		}

		.uk-button {
			min-width: 220px;
		}


		@media (min-width: @breakpoint-small) {
			padding: 20px 20px 30px;
			background-color: transparent;
			margin-bottom: 0;
			border-bottom: none;

			&.active {
				.title, .description {
					color: @white;
				}

				.uk-button {
					color: @white;
					&:before {
						left: 0;
						right: 0;
						opacity: 1;
					}
				}
			}

			.title, .description {
				font-size: 20px;
			}

			.price {
				font-size: 36px;
			}

			.uk-button {
				min-width: 250px;
			}
		}


		@media (min-width: @breakpoint-medium) {
			padding: 30px 50px 50px;
		}
	}

	.pricing-bg {
		position: absolute;
		.soft-transition;
		width: calc(50% - 28px);
		left: calc(0% + 25px);
	    height: calc(100% + 100px);
	    top: -50px;

	    &.premium {
			left: calc(50% - 8px);
	    }

	    @media (min-width: @breakpoint-medium){
		    width: calc(50% - 65px);
		    left: calc(0% + 63px);
	    }
	}
}

@import 'pricing';
