// BASE IMPORT
@import '_base';

.site-nav {
    background-color: #F7F7F7 !important;
}

.hero-banner {
    background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(247,247,247,1) 90%);

    @media (min-width: @breakpoint-small) {
      background: #F7F7F7;
  }

    .hero-copy {
      h1 {
          color: @purple;
      }

      .copy {
          max-width: 100% !important;
      }
  }
}

.portfolio {
    @media (min-width: @breakpoint-small) {
        padding-top: 90px;
        padding-bottom: 100px;
    }

    .uk-container {
        max-width: 844px;
    }

    .uk-subnav {
        justify-content: space-between;

        > * {
            flex: 1 !important;
            text-align: center;
        }
    }

    .uk-active > a {
        background-color: #F6921E;
    }

    .uk-button {
        margin-top: 20px;

        @media (min-width: @breakpoint-small) {
            margin-top: 60px;
        }
    }
}

// Isotope
.tabs {
  max-width: 268px;
  margin: 0 auto 20px;

  @media (min-width: @breakpoint-small) {
      max-width: 100%;
  }
}

.transformer-tabs {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 5px;

      @media (min-width: @breakpoint-small) {
          display: flex;
          justify-content: space-between;
      }
  }

  li {
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
    text-align: center;
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
  }

  button {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;
    color: @darkgray;

    &.active {
      background-color: @yellow;
      position: relative;
    }

    &:focus {
        outline: none;
    }
  }

  @media (max-width: 700px) {
    ul {
      border-bottom: 0;
      overflow: hidden;
      position: relative;

      &::after {
        content: url(../images/yellow-dropdown.png);
        position: absolute;
        top: 8px;
        right: 15px;
        z-index: 2;
        pointer-events: none;
      }

      &.open {
        button {
          position: relative;
          display: block;
        }
      }
    }

    li {
      display: block;
    }

    button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &.active {
        border: 0;
        z-index: 1;
        background-color: #E5E5E5;
      }
    }
  }
}

#filters {
  li {
      width: 100%;
  }

  button {
      border: none;
      background-color: #F7F7F7;
      color: @darkgray;
      width: 100%;
      padding: 15px 0;

      @media (min-width: @breakpoint-small) {
          &.active,
          &:hover {
              background-color: @yellow;
              color: @white;
          }
      }
  }
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item,
.grid-sizer {
  width: 100%;
  @media (min-width: @breakpoint-small) {
      width: 33.33%;
  }
}

.grid-item {
  float: left;
  background-size: cover !important;
  background-position: center !important;
  padding-top: 270px / 270px * 100%;

  @media (min-width: @breakpoint-small) {
    padding-top: 32%;
    border: 5px solid @white;
  }
}

.grid-item--fullwidth {
  padding-top: 415px / 894px * 100%;
  width: 100%;
}

.grid-item--height2 {
  padding-top: 556px / 314px * 100%;

  @media (min-width: @breakpoint-small) {
    padding-top: 65.3%;
  }
}
