// BASE IMPORT
@import '_base';


// PAGE FRAMEWORK OVERRIDES


// PAGE SECTION STYLES
/* Pricing Section */
.pricing-section {
	.hero-copy {
		max-width: 800px;
	}
}

.pricing-selector {
	margin-top: 60px;
	margin-bottom: 60px;
	.desktop-selector {
		display: flex;
		label {
			width: 190px;
			cursor: pointer;
		}

		input[type=radio] {
			display: none;

			&:checked {
				& + span {
					background-color: @silver;
					color: @white;
				}
			}
		}

		span {
			font-family: @medium-font;
			font-size: 18px;
			color: @darkgray;
			display: block;
			padding: 6px;
			background-color: @lightgray;
			text-align: center;
		}
	}

	.mobile-selector {
		text-align: center;
		select {
			appearance: none;
			background-image: url(../images/blue-dropdown.png);
			background-repeat: no-repeat;
			background-position: 95%;
			outline: 0;
			max-width: 270px;
		    width: 100%;
		    padding: 8px;
		    color: @darkgray;
		    background-color: @lightgray;
		    border: 0 none;
		    font-size: 15px;
		    text-align-last: center;
		    font-family: @medium-font;
		}
	}
}

.pricing-table {
	margin-bottom: 30px;
	.pricing-block {
		text-align: center;
		padding: 20px 20px 50px;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		background-color: @lightgray;
		height: 100%;

		.title {
			font-size: 16px;
			margin: 0;
		}

		.price {
			display: none;
			margin-top: 0;
			margin-bottom: 40px;
			.amount {
				font-size: 30px;
				display: block;
			}

			.discount {
				font-size: 15px;
			}
		}

		.description {
			font-size: 13px;
			.nostyle-list;
			margin-bottom: 30px;

			li {
				margin-bottom: 18px;
			}
		}

		&.monthly {
			.price.monthly {
				display: block;
			}
		}

		&.quarterly {
			.price.quarterly {
				display: block;
			}
		}

		&.annual {
			.price.annual {
				display: block;
			}
		}

		@media (min-width: @breakpoint-small) {
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;

			.title {
				font-size: 30px;
			}

			.price {
				.amount {
					font-size: 40px;
				}
				.discount {
					font-size: 18px;
				}
			}

			.description {
				font-size: 18px;
			}
		}

		@media (min-width: @breakpoint-medium) {
			padding: 20px 60px 50px;
		}

		&.standard {
			border-color: @red;

			.price {
				.amount {
					color: @red;
				}
			}
		}

		&.premium {
			border-color: @yellow;

			.price {
				.amount {
					color: @yellow;
				}
			}
		}
	}
}